<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="mydesign.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>
<section id="featured" class="featured" style='background: url(assets/img/gif/UntidySickHairstreak-size_restricted.gif)'>
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-8 order-2 order-lg-2" data-aos="fade-right ">

                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <p>Welcome to using rest API</p>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <p> <table class="table table-bordered table-striped ">
                            <h3 class="text-center ">User's Information </h3>
                            <thead class="thead-light ">
                            <tr>
                                <th id="sl" scope="col">S.I</th>
                                <th scope="col"> Name</th>
                                <th scope="col">Address</th>
                                <th scope="col"> Phone </th>
                                <th scope="col"> Email </th>
                                <th scope="col"> Password </th>
                                <th scope="col"> Location </th>
                                <th scope="col"> Download Date </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <th>1</th>
                                <th>Mark</th>
                                <th>Ott</th>
                                <th>03243343</th>
                                <th>mark@gmail.com</th>
                                <th>Mark123</th>
                                <th>ottela</th>
                                <th>23-06-020</th>
                            </tr>

                            <tr>
                                <th>1</th>
                                <th>Mark</th>
                                <th>Ott</th>
                                <th>03243343</th>
                                <th>mark@gmail.com</th>
                                <th>Mark123</th>
                                <th>ottela</th>
                                <th>23-06-020</th>
                            </tr>


                            <tr>
                                <th>1</th>
                                <th>Mark</th>
                                <th>Ott</th>
                                <th>03243343</th>
                                <th>mark@gmail.com</th>
                                <th>Mark123</th>
                                <th>ottela</th>
                                <th>23-06-020</th>
                            </tr>

                            <tr>
                                <th>1</th>
                                <th>Mark</th>
                                <th>Ott</th>
                                <th>03243343</th>
                                <th>mark@gmail.com</th>
                                <th>Mark123</th>
                                <th>ottela</th>
                                <th>23-06-020</th>
                            </tr>
                            </tbody>

                        </table>
                        </p>

                    </div>
                    <div class="tab-pane" id="tab-3">

                        <table class="table table-bordered table-striped ">
                            <h3 class="text-center ">Scan & verify </h3>
                            <thead class="thead-light ">
                            <tr>
                                <th scope="col">S.I</th>
                                <th scope="col">Scanned Location</th>
                                <th scope="col">User Account No./email</th>
                                <th scope="col">Matched location</th>
                                <th scope="col">Product ID</th>
                                <th scope="col">Product SKU</th>
                                <th scope="col">System Batched No</th>
                                <th scope="col">System filled date</th>
                                <th scope="col">System Delivered location</th>
                                <th scope="col">System Delivered Date</th>
                                <th scope="col" class="checkbox">Checked</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <th>1</th>
                                <th>Dhaka</th>
                                <th>0353DA</th>
                                <th>YES</th>
                                <th>544343</th>
                                <th>2</th>
                                <th>Mark</th>
                                <th>Ott</th>
                                <th>Male</th>
                                <th>DHAKA</th>
                                <th>YES</th>

                            </tr>


                            <tr>
                                <th>1</th>
                                <th>Dhaka</th>
                                <th>0353DA</th>
                                <th>YES</th>
                                <th>544343</th>
                                <th>2</th>
                                <th>Mark</th>
                                <th>Ott</th>
                                <th>Male</th>
                                <th>DHAKA</th>
                                <th>YES</th>

                            </tr>

                            <tr>
                                <th>1</th>
                                <th>Dhaka</th>
                                <th>0353DA</th>
                                <th>YES</th>
                                <th>544343</th>
                                <th>2</th>
                                <th>Mark</th>
                                <th>Ott</th>
                                <th>Male</th>
                                <th>DHAKA</th>
                                <th>YES</th>

                            </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane" id="tab-4">
                        <table class="table table-bordered table-striped ">
                            <h3 class="text-center ">Order Tables </h3>
                            <thead class="thead-light ">
                            <tr>
                                <th scope="col">S.I</th>
                                <th scope="col">Order No</th>
                                <th scope="col">User Account No.</th>
                                <th scope="col">User Name</th>
                                <th scope="col">Delivered Address</th>
                                <th scope="col">Delivered Location</th>
                                <th scope="col">Product SKU</th>
                                <th scope="col">Product QTY</th>
                                <th scope="col">Requested Delivery date</th>
                                <th scope="col" class="checkbox">Checked</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <th>1</th>
                                <th>Dhaka</th>
                                <th>0353DA</th>
                                <th>YES</th>
                                <th>544343</th>
                                <th>Mark</th>
                                <th>Ott</th>
                                <th>Male</th>
                                <th>DHAKA</th>
                                <th>YES</th>

                            </tr>


                            <tr>
                                <th>1</th>
                                <th>Dhaka</th>
                                <th>0353DA</th>
                                <th>YES</th>
                                <th>544343</th>
                                <th>Mark</th>
                                <th>Ott</th>
                                <th>Male</th>
                                <th>DHAKA</th>
                                <th>YES</th>

                            </tr>

                            <tr>
                                <th>1</th>
                                <th>Dhaka</th>
                                <th>0353DA</th>
                                <th>YES</th>
                                <th>544343</th>
                                <th>Mark</th>
                                <th>Ott</th>
                                <th>Male</th>
                                <th>DHAKA</th>
                                <th>YES</th>

                            </tr>


                            </tbody>

                        </table>
                    </div>

                    <div class="tab-pane" id="tab-5">
                        <table class="table table-bordered table-striped ">
                            <h3 class="text-center "> New Offers </h3>
                            <thead class="thead-light ">
                            <tr>
                                <th scope="col">S.I</th>
                                <th scope="col">Offer</th>
                                <th scope="col">Select Users</th>
                                <th scope="col">Open Date</th>
                                <th scope="col">Close Date</th>
                                <th scope="col" class="checkbox">Checked</th>
                            </tr>
                            </thead>

                            <tbody>

                                {{ range .Informations }}
                            <tr>
                                <th>11</th>
                                <th>{{ .offer }}</th>
                                <th>{{ .Select_Users}}</th>
                                <th>{{ .Open_Date }}</th>
                                <th>{{ .Close_Date }}</th>
                                <th>{{ .checked }}</th>
                            </tr>
                            {{ end }}

                            <tr>
                                <th>1</th>
                                <th>Dhaka</th>
                                <th>Dhaka</th>
                                <th>0353DA</th>
                                <th>YES</th>
                                <th>YES</th>

                            </tr>


                            <tr>
                                <th>1</th>
                                <th>Dhaka</th>
                                <th>0353DA</th>
                                <th>YES</th>
                                <th>DHAKA</th>
                                <th>YES</th>

                            </tr>

                            <tr>
                                <th>1</th>
                                <th>Dhaka</th>
                                <th>0353DA</th>
                                <th>YES</th>
                                <th>DHAKA</th>
                                <th>YES</th>

                            </tr>


                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 mt-4 mt-lg-0 order-1 order-lg-1 " data-aos="fade-left">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                            <h7> Home</h7>

                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" data-toggle="tab" href="#tab-2">
                            <h7>Users</h7>

                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" data-toggle="tab" href="#tab-3">
                            <h7>Scan & verify</h7>

                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" data-toggle="tab" href="#tab-4">
                            <h6>Oder </h6>

                        </a>
                    </li>
                    <li class="nav-item mt-2">
                        <a class="nav-link" data-toggle="tab" href="#tab-5">
                            <h7>New Offers </h7>

                        </a>
                    </li>
                </ul>
            </div>


        </div>


    </div>

</section>

</body>
</html>