.middle{
    text-align: center;
    padding: 5px;
    font-family: "Droid Serif";
}

.left{
    text-align: center;
    border-radius: 5px;
    padding: 15px;
    color: #1d211b;
    font-family: "Droid Serif";
    font-size: medium;
}
.topbar{
    text-align: center;
    text-shadow: #5a6268;
    font-size: 50px;
}

.table-index{
    text-align: center;

}


